mat-panel-title {
    font-size: 25px
}
.mat-expansion-panel {
    background: rgb(247, 247, 244);
    color: rgba(0,0,0,.87);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.clickAndDone {
  background-color: #278AB0;
}
.btnTimbro {
  width: 42px;
  height: 42px;
  border: 1px solid #1C4670;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  color: #1C4670;
  line-height: 42px
}
button {
  font-size: 25px;
  font-family: 'Indie Flower', cursive !important;
  font-weight: 800;
  height: 60px;
}
mat-panel-description {
  font-size: 25px;
}
.scrittaScadenza {
  font-size: 28px;
  line-height: 2.6;
}
.iconScadenza {
  font-size: 30px;
  line-height: 2.4;
}
.iconPiano {
  font-size: 45px;
  line-height: 1.7;
}
.scadenza {
  float: right;
  display: flex
}
.containerInfo {
  width: 100%;
  display: inline
}
.iconsDiv {
  display: flex;
  float: left
}
.ricerca_field {
  width: 98%;
  height: 46px;
  background-color: rgb(247, 247, 244);
  background-image: linear-gradient(to right, rgb(247, 247, 244), rgba(29,198,144, .65));
  padding: 0 1%;
}
.ricerca_field input {
  left: 10px
}
.iconSearch {
  margin-right: 5px;
}
.colorfaded {
  width: 100%;
  background-image: linear-gradient(to right, rgb(247, 247, 244), rgba(29,198,144, .65));
}