<div class="colorFaded">
    <mat-form-field class="ricerca_field">
        <input matInput placeholder="Ricerca..." [(ngModel)]="ricercaString">
        <mat-icon class="iconSearch" matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let item of gentaglia | async | sort: ricercaString" (opened)="aperto(item)" (closed)="chiuso(item)">
        <!--(opened)="panelOpenState = true" (closed)="panelOpenState = false"-->
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.name}}
            </mat-panel-title>
            <mat-panel-description>
                n°&nbsp;<b>{{item.cards.length}}</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="item.cards[item.cards.length - 1].clickAndDone">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    <button mat-raised-button class="clickAndDone" (click)="completaLastCard(item)">COMPLETA</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-stroked-button color="warn" (click)="item.cards[item.cards.length - 1].clickAndDone = false" >ANNULLA</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <mat-grid-list [id]="item.id" cols="5" rowHeight="50px" *ngIf="!item.cards[item.cards.length - 1].clickAndDone">
            <mat-grid-tile [colspan]="(yo.key == 'scadenza') ? 5 : 1" *ngFor="let yo of item.cards[item.cards.length - 1] | keys">
                    <div *ngIf="yo.key !== 'scadenza'" [@timbra]="item.cards[item.cards.length - 1][yo.key]" (click)="timbraCard(yo, item)" class="btnTimbro">
                        {{+ yo.key.substring(1,2) + 1}}
                    </div>
                    <div class="containerInfo" *ngIf="yo.key === 'scadenza'">
                        <div class="iconsDiv" (click)="cambiaPiano(item)">
                            <i *ngIf="item.pianoStrong" class="iconPiano material-icons">
                                    local_shipping
                            </i>
                            <i *ngIf="!item.pianoStrong" class="iconPiano material-icons">
                                directions_car
                            </i>
                        </div>
                        <div class="scadenza">
                            <i class="iconScadenza material-icons">
                                timer
                            </i>
                            &nbsp;
                            <span class="scrittaScadenza">{{yo.value}} giorni</span>
                        </div>
                    </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>