
<br>
<button mat-raised-button [disabled]="parolaMagica.toUpperCase() !== key" (click)="googleLogin()">
        {{(parolaMagica.toUpperCase() == key.toUpperCase()) ? 'CLICCAMI E LOGGA' : 'INSERISCI LA PAROLA'}}
</button>
<br>
<br>
<mat-form-field appearance="outline">
    <mat-label>Proprio QUI</mat-label>
    <input matInput placeholder="" [(ngModel)]="parolaMagica">
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint>Chiedimela se non la sai</mat-hint>
</mat-form-field>

