button {
    background-color: #1DC690;
    margin: 0 auto;
    display: flex;
    font-family: 'Indie Flower', cursive !important;
    height: 85px;
    font-size: 35px;
    font-weight: 900;
}
mat-form-field {
    color: black !important;
    width: 68%;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    display: block;
}
mat-form-field.mat-form-field {
    font-size: 25px;
}