button {
    cursor: pointer;
    margin: 8px 0;
}
.loginBtn {
    float: right;
    margin-right: 8px
}
.homeBtn {
    margin-left: 8px
}
#navbar {
    width: 100%;
    height: 56px;
    background-color: #278AB0;
    position: fixed;
    bottom: 0;
}
mat-divider {
    color: #EAEAE0;
    opacity: .75;
    height: 38px;
}
.router-link-active {
    -webkit-box-shadow:inset 0px 0px 0px 4.5px #1C4670;
    -moz-box-shadow:inset 0px 0px 0px 4.5px #1C4670;
    box-shadow:inset 0px 0px 0px 4.5px #1C4670;
    background-color: #EAEAE0;
    animation-name: clickNav;
    animation-duration: 0.6s;
}