<nav id="navbar">
    <mat-grid-list cols="7" rowHeight="56px">
        <mat-grid-tile>
            <!-- HOME -->
            <button *ngIf="user && !(user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')"
            class="homeBtn" [routerLink]="['/home']" routerLinkActive="router-link-active" mat-icon-button>
                <mat-icon aria-label="Home">home</mat-icon>
            </button>
            <button *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')" 
            class="homeBtn" [routerLink]="['/home']" routerLinkActive="router-link-active" mat-icon-button>
                <mat-icon aria-label="Home">home</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-divider *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')" [vertical]="true"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- CARD -->
            <button *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')"
            class="cardBtn" [routerLink]="['/cards']" routerLinkActive="router-link-active" mat-icon-button>
                <mat-icon  aria-label="Home">credit_card</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-divider *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')" [vertical]="true"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- ALTRO -->
            <button *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')"
            class="cardBtn" [routerLink]="['/settings']" routerLinkActive="router-link-active" mat-icon-button>
                <mat-icon  aria-label="settings">settings</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-divider *ngIf="user && (user.id == 'eXsNPdClOxWUbPzelzXS9vgUc502')" [vertical]="true"></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- LOGIN -->
            <button class="loginBtn" [disabled]='user' [routerLink]="['/login']" routerLinkActive="router-link-active" mat-icon-button>
                <mat-icon aria-label="Statti calmo" *ngIf="user">accessible_forward</mat-icon>
                <mat-icon aria-label="Login" *ngIf="!user"><img src="../assets/icons/oldman.png"></mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</nav>

