/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    background-color: rgb(242,242,230); /* il normale è que #EAEAE0 */
    font-family: 'Indie Flower', cursive;
}
mat-expansion-panel, mat-panel-title, mat-grid-tile, mat-grid-list, mat-panel-description, mat-card, mat-form-field {
    font-family: 'Indie Flower', cursive !important
}