.btnTimbro {
    width: 42px;
    height: 42px;
    border: 1px solid #1C4670;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    color: #1C4670;

}
mat-panel-title {
    font-size: 25px
}
.timbrato {
    background-color: rgb(29, 198, 144);
    color: rgb(234, 234, 224);
    border: 2px solid rgb(28, 70, 112);
}
mat-card {
    top: 5px;
    background: rgb(247, 247, 244);
    color: rgba(0,0,0,.87);
    margin: 8px 6px;
}
.cards {
    font-size: 65px;
    opacity: .7
}
.numCard {
    font-size: 17px;
    position: absolute;
    left: -4px;
    top: -4px;
    border: 1px solid black;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 1.5;
    background-color: #1C4670;
    color: #EAEAE0;
}
.dataScadenza {
    font-size: 25px;
    font-weight: 700;
}
.timerIcon {
    line-height: 2;
}