<div *ngIf="authSer.user && !authSer.user.boss">
    <mat-card *ngIf="authSer.user.cards.length">
      <div class="numCard">{{authSer.user.cards.length}}</div>
      <mat-grid-list cols="5" rowHeight="50px">
        <mat-grid-tile [colspan]="(yo.key == 'zDataCreazione') ? 5 : 1" *ngFor="let yo of authSer.user.cards[authSer.user.cards.length - 1] | keysUser">
            <div *ngIf="yo.key != 'zDataCreazione'" class="btnTimbro" [class.timbrato]="yo.value">{{+ yo.key.substring(1,2) + 1}}</div>
            <div class="dataScadenza" *ngIf="yo.key == 'zDataCreazione'">
              <i class="timerIcon material-icons">
                timer
              </i>
              {{yo.value | aggiungiGiorni: boss.giorniScadenza | date: 'dd/MM/yyyy'}}
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
</div>
