<p *ngIf="user">
  <mat-form-field appearance="legacy">
    <mat-label>Scadenza Cards</mat-label>
      <input matInput placeholder="num Giorni" type="number" [value]="user.giorniScadenza" (blur)="cambiaScadenza($event.target.value)">
    <mat-icon matSuffix>timer</mat-icon>
  </mat-form-field>
</p>